extends ../layout

block append head_js
  script(type='text/javascript' src='/site/js/jquery-1.12.4.min.js')
  script(type='text/javascript' src='/test/js/post_survey.test.js')

block content
  h1= title
  p Welcome to #{title}
