extends ../layout

block header
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(type='text/javascript' src='/javascripts/post_survey.test.js')

block content
  h1= title
  p Welcome to #{title}
