extends layout

block top_navmenu_active_element
  - var active_navmenu_element = 'survey results'; //default

block top_navmenu_elements
  -
    var navmenu_elements = {
      'survey results': {url: '/admin', icon: ''},
      'new survey':     {url: '/admin/new_survey', icon: ''},
      'logout':         {url: '/admin/logout', icon: 'glyphicon-log-out'}
    };
