extends layout

block append head_css
  link(rel='stylesheet', href='/page/homepage/css/style.css')

block append head_js
  script(type='text/javascript' src='/site/js/angular2/js/es6-shim.min.js')
  script(type='text/javascript' src='/site/js/angular2/js/angular2-polyfills.min.js')
  script(type='text/javascript' src='/site/js/angular2/js/system.js')
  script(type='text/javascript' src='/site/js/angular2/js/Rx.min.js')
  script(type='text/javascript' src='/site/js/angular2/js/angular2.min.js')
  script(type='text/javascript' src='/site/js/angular2/js/http.min.js')

block content
  <!-- Load the App -->
  <script src="/page/homepage/js/init.js"></script>
  <home-page></home-page>
